@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/playfair-display";
@import "@fontsource/poppins";
@import "@fontsource/montserrat";
@import "@fontsource/inter";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media (max-width: 768px) {
  .stat-cards-mobile {
    padding-bottom: 45px;
    border-bottom: solid white 1px;
  }
}
