@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/playfair-display";
@import "@fontsource/poppins";
@import "@fontsource/montserrat";
@import "@fontsource/inter";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar styles */
.course-scrollbar::-webkit-scrollbar {
  height: 8px;
}

.course-scrollbar::-webkit-scrollbar-track {
  background: #f3e8ff; /* light purple track */
  border-radius: 100vh;
}

.course-scrollbar::-webkit-scrollbar-thumb {
  background-color: #a855f7; /* purple thumb */
  border-radius: 100vh;
  border: 2px solid #f3e8ff;
}

/* Optional: Firefox scrollbar */
.course-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a855f7 #f3e8ff;
}

.floating-icons {
  z-index: 60;
}


@media (max-width: 768px) {
  .stat-cards-mobile {
    padding-bottom: 45px;
    border-bottom: solid white 1px;
  }
}
